{% load static %}
<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">О нас</h4>
              <p class="text-muted">
                «ТехноОктрытие» — магазин компьютерной техники, на рынке с 2024 года.
                В портфеле услуг — сборка компьютеров под заказ и другие услуги.
              </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Для Вас</h4>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Каталог</a></li>
            <li><a href="/contacts/" class="text-white">Контактные данные</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>ТехноОткрытие</strong>
      </a>
      <nav class="ms-5">
          <a class="p-2 btn btn-outline-light" href="/">Каталог</a>
          <a class="p-2 btn btn-outline-light" href="/contacts/">Контакты</a>
          <a class="p-2 btn btn-outline-info" href="{% url 'catalog:create' %}" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            Добавить товар
          </a>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="position: absolute; right: 1%;">
        <img id="specialButton" style="cursor:pointer;" src="{% static 'img/special_white.png' %}" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
      </div>
    </div>
  </div>
</header>