{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Сбросить пароль{% endblock %}

{% block context %}
    <section class="py-0 text-center container">
        <div class="row py-lg-2">
          <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-middle">Забыли пароль?</h1>
              <p class="lead text-body-secondary">Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
          </div>
        </div>
    </section>
    <div class="py-5" style="background-color: #f8f8f6;">
        <div class="container" style="width: 40%;">
            <form method="post" class="mb-3">
                {{ form|crispy }}
                <div class="form-actions">
                    <input type="submit"  class="btn btn-success" value="Отправить электронное письмо">
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}