{% extends 'catalog/base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block context %}
    <section class="py-0 pb-4 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-middle">Сброс пароля</h1>
                <p class="lead text-body-secondary">Мы отправили вам по электронной почте<br>
                    инструкции по установке пароля.</p>
                <p class="lead text-body-secondary">Если вы не получили электронное письмо,<br>
                    убедитесь, что вы ввели адрес, под которым зарегистрировались.</p>
            </div>
        </div>
    </section>
{% endblock %}