{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Сбросить пароль{% endblock %}

{% block context %}
    <section class="py-0 text-center container">
        <div class="row py-lg-2">
          <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-middle">Сброс пароля</h1>
              {% if validlink %}
                  <p class="lead text-body-secondary">Пожалуйста, введите новый пароль дважды.</p>
              {% else %}
                  <p class="lead text-body-secondary">Ссылка для сброса пароля недействительна,
                      возможно, потому, что она уже была использована. Пожалуйста, запросите сброс нового пароля.</p>
              {% endif %}
          </div>
        </div>
    </section>
    {% if validlink %}
        <div class="py-5" style="background-color: #f8f8f6;">
            <div class="container" style="width: 40%;">
                <form method="post" class="mb-3">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <div class="form-actions">
                        <input type="submit"  class="btn btn-success" value="Изменить пароль">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}