{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block context %}
    <section class="py-0 text-center container">
        <div class="row py-lg-2">
          <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-middle">Регистрация</h1>
              <p class="lead text-body-secondary">Пожалуйста, зарегистрируйтесь, используя следующую форму</p>
          </div>
        </div>
    </section>
    <div class="py-5" style="background-color: #f8f8f6;">
        <div class="container" style="width: 40%;">
            <form method="post" class="mb-3">
                {{ form|crispy }}
                {% csrf_token %}
                <div class="form-actions">
                    <input type="submit"  class="btn btn-success" value="Зарегистрироваться">
                </div>
            </form>
        </div>
    </div>
{% endblock %}