{% extends 'catalog/base.html' %}
{% load catalog_tags %}

{% block title %}Продукты{% endblock %}

{% block context %}
<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ТехноОткрытие</h1>
        <p class="lead text-body-secondary">Ваш проводник в мире технологий!</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
       <div class="row text-center">
           {% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="{% mediapath object.img %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="{{ object.name }}" style="width: auto; max-height: 120px; padding-top: 10px">
                <div class="card-body">
                  <div class="card-header" style="width: 100%; height: 120px; display: flex; align-items: center;">
                        <h4 class="card-title" style="margin: 0;">{{ object.name }}</h4>
                  </div>
                    {% if object.is_active %}
                        <div class="badge bg-light text-success text-uppercase mb-2 pt-2 pb-2" style="width: 100%;">
                            В наличии
                            {% for version in version_list %}
                                {% if object.name == version.product.name and version.is_active == True %}
                                     | {{ version.name_version }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <h1 class="card-title pricing-card-title">{{ object.price }} ₽</h1>
                    {% else %}
                        <div class="badge bg-light text-danger text-uppercase mb-2 pt-2 pb-2" style="width: 100%;">
                            Нет в наличии
                        </div>
                        <h1 class="card-title pricing-card-title">0 ₽</h1>
                    {% endif %}
                    <p class="card-text">{{ object.description|slice:80 }}...</p>
                    {% if object.is_active %}
                        <p><a class="btn btn-lg btn-block btn btn-outline-success mt-3" href="{% url 'catalog:product' object.pk %}" role="button">Купить</a></p>
                    {% else %}
                        <p><a class="btn btn-lg btn-block btn btn-outline-secondary mt-3" href="{% url 'catalog:product' object.pk %}" role="button" style="pointer-events: none; cursor: default; color: #888;">Купить</a></p>
                    {% endif %}
                    <div class="btn-group" style="float: left; margin-top: 12px;">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:update' object.pk %}" role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="vertical-align: -.35em;"><title>Изменить</title>
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                      </a>
                      {% if object.is_active %}
                          <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:activity' object.pk %}" role="button">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="vertical-align: -.35em;"><title>Деактивировать</title>
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                          </a>
                      {% else %}
                          <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:activity' object.pk %}" role="button">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16" style="vertical-align: -.35em;"><title>Активировать</title>
                                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                              </svg>
                          </a>
                      {% endif %}
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:delete' object.pk %}" role="button">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="vertical-align: -.35em;"><title>Удалить</title>
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                           </svg>
                      </a>
                    </div>
                    <div style="float: right; margin-top: 20px;">
                        <small>{{ object.updated_at|date:'d.m.Y' }}</small>
                    </div>
                </div>
              </div>
            </div>
           {% endfor %}
       </div>
       <!-- Пагинация -->
       {% include 'catalog/includes/inc_base_paginator.html' %}
       <!-- /Пагинация -->
    </div>
  </div>
</main>
{% endblock %}