{% extends 'catalog/base.html' %}
{% load catalog_tags %}

{% block title %}Продукты{% endblock %}

{% block context %}
<main>

  <section class="py-0 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ТехноОткрытие</h1>
        <p class="lead text-body-secondary">Ваш проводник в мире технологий!</p>
      </div>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
       <div class="row text-center">
           {% for product in page_obj %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="{% mediapath product.img %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="{{ product.name }}" style="width: auto; max-height: 120px; padding-top: 10px">
                <div class="card-body">
                  <div class="card-header" style="height: 120px; display: flex; align-items: center;">
                        <h4 class="card-title" style="margin: 0;">{{ product.name }}</h4>
                  </div>
                    <h1 class="card-title pricing-card-title">{{ product.price }} ₽</h1>
                    <p class="card-text">{{ product.description|slice:100 }}...</p>
                    <p><a class="btn btn-lg btn-block btn-outline-primary mt-3" href="/catalog/{{ product.pk }}" role="button">Купить</a></p>
                    <small class="text-body-secondary">{{ product.date_update }}</small>
                </div>
              </div>
            </div>
           {% endfor %}
       </div>
       <!-- Пагинация -->
       <nav aria-label="Навигация по страницам">
          <ul class="pagination justify-content-center">
                {% for p in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
          </ul>
       </nav>
       <!-- /Пагинация -->
    </div>
  </div>
</main>
{% endblock %}